server:
  port: 8081

spring:
  application:
    name: orchestrator-service
  datasource:
    url: jdbc:postgresql://localhost:5432/saga_db
    username: saga
    password: saga
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  redis:
    host: localhost
    port: 6379

  kafka:
    bootstrap-servers: localhost:9092
